### data file is present here : https://drive.google.com/file/d/1Knl92dpOpWcVFVXCytADeC9VguLpDDMc/view?usp=sharing

### Case Study 2

Airbnb

### IMPORT LIBRARIES

In [99]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [101]:
df = pd.read_csv('airbnb.csv')

In [15]:
df.head(2)

,id,listing_url,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,street,city,...,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,has_availability,number_of_reviews,review_scores_rating,instant_bookable,cancellation_policy
0,11156,https://www.airbnb.com/rooms/11156,An Oasis in the City,40855,Colleen,23/09/09,t,f,"Potts Point, NSW, Australia",Potts Point,...,NaN,NaN,NaN,1,$0.00,1,177,92.0,f,moderate
1,12351,https://www.airbnb.com/rooms/12351,Sydney City & Harbour at the door,17061,Stuart,14/05/09,f,t,"Pyrmont, NSW, Australia",Pyrmont,...,NaN,$0.00,$55.00,2,$395.00,1,468,95.0,f,strict_14_with_grace_period

In [17]:
df.shape

(27076, 36)

In [23]:
df.columns

Index(['id', 'listing_url', 'name', 'host_id', 'host_name', 'host_since',
       'host_is_superhost', 'host_identity_verified', 'street', 'city',
       'state', 'country_code', 'country', 'latitude', 'longitude',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'cleaning_fee', 'guests_included',
       'extra_people', 'has_availability', 'number_of_reviews',
       'review_scores_rating', 'instant_bookable', 'cancellation_policy'],
      dtype='object')

In [25]:
df['property_type']

0                Apartment
1                Townhouse
2                    House
3                Apartment
4                Apartment
               ...
27071            Apartment
27072                House
27073    Bed and breakfast
27074                House
27075                House
Name: property_type, Length: 27076, dtype: object

In [27]:
df['property_type'].head()

0    Apartment
1    Townhouse
2        House
3    Apartment
4    Apartment
Name: property_type, dtype: object

In [35]:
df['room_type']

0           Private room
1           Private room
2        Entire home/apt
3           Private room
4            Shared room
              ...
27071       Private room
27072    Entire home/apt
27073       Private room
27074    Entire home/apt
27075    Entire home/apt
Name: room_type, Length: 27076, dtype: object

In [37]:
df['room_type'].unique()

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)

In [41]:
df['accommodates'].head()

0    1
1    2
2    6
3    2
4    1
Name: accommodates, dtype: int64

In [43]:
# view multiple columns at once - column names : price, weekly_price, monthly_price - head 3

In [51]:
df[['price', 'weekly_price', 'monthly_price']].head(3)

      price weekly_price monthly_price
0   $65.00           NaN           NaN
1   $98.00      $800.00            NaN
2  $469.00    $3,000.00            NaN

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27076 entries, 0 to 27075
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      27076 non-null  int64
 1   listing_url             27076 non-null  object
 2   name                    27062 non-null  object
 3   host_id                 27076 non-null  int64
 4   host_name               27041 non-null  object
 5   host_since              27041 non-null  object
 6   host_is_superhost       27041 non-null  object
 7   host_identity_verified  27041 non-null  object
 8   street                  27076 non-null  object
 9   city                    27043 non-null  object
 10  state                   27067 non-null  object
 11  country_code            27076 non-null  object
 12  country                 27076 non-null  object
 13  latitude                27076 non-null  float64
 14  longitude               27076 non-null  float64
 15  property_type           27076 non-null  object
 16  room_type               27076 non-null  object
 17  accommodates            27076 non-null  int64
 18  bathrooms               27054 non-null  float64
 19  bedrooms                27068 non-null  float64
 20  beds                    27043 non-null  float64
 21  bed_type                27076 non-null  object
 22  amenities               27076 non-null  object
 23  square_feet             256 non-null    float64
 24  price                   27076 non-null  object
 25  weekly_price            3921 non-null   object
 26  monthly_price           2375 non-null   object
 27  security_deposit        16725 non-null  object
 28  cleaning_fee            19253 non-null  object
 29  guests_included         27076 non-null  int64
 30  extra_people            27076 non-null  object
 31  has_availability        27076 non-null  int64
 32  number_of_reviews       27076 non-null  int64
 33  review_scores_rating    19517 non-null  float64
 34  instant_bookable        27076 non-null  object
 35  cancellation_policy     27076 non-null  object
dtypes: float64(7), int64(6), object(23)
memory usage: 7.4+ MB

In [55]:
df.head(3)

,id,listing_url,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,street,city,...,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,has_availability,number_of_reviews,review_scores_rating,instant_bookable,cancellation_policy
0,11156,https://www.airbnb.com/rooms/11156,An Oasis in the City,40855,Colleen,23/09/09,t,f,"Potts Point, NSW, Australia",Potts Point,...,NaN,NaN,NaN,1,$0.00,1,177,92.0,f,moderate
1,12351,https://www.airbnb.com/rooms/12351,Sydney City & Harbour at the door,17061,Stuart,14/05/09,f,t,"Pyrmont, NSW, Australia",Pyrmont,...,NaN,$0.00,$55.00,2,$395.00,1,468,95.0,f,strict_14_with_grace_period
2,14250,https://www.airbnb.com/rooms/14250,Manly Harbour House,55948,Heidi,20/11/09,f,t,"Balgowlah, NSW, Australia",Balgowlah,...,NaN,$900.00,$100.00,6,$40.00,1,1,100.0,f,strict_14_with_grace_period

In [63]:
df.sample(3)

,id,listing_url,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,street,city,...,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,has_availability,number_of_reviews,review_scores_rating,instant_bookable,cancellation_policy
5042,6926770,https://www.airbnb.com/rooms/6926770,Ocean Views at Dee Why Beach,36311507,David,21/06/15,f,t,"Dee Why, NSW, Australia",Dee Why,...,NaN,$200.00,$75.00,4,$20.00,1,0,NaN,f,flexible
17696,18011817,https://www.airbnb.com/rooms/18011817,ROOM FOR RENT SINGLE OR TWINSHARE,123832678,Jenny,2/04/17,f,f,"Narraweena, NSW, Australia",Narraweena,...,NaN,NaN,NaN,1,$0.00,1,0,NaN,t,flexible
9418,11020285,https://www.airbnb.com/rooms/11020285,Ultra Stylish Palmy Apartment,3231371,Tara,12/08/12,f,t,"Palm Beach, NSW, Australia",Palm Beach,...,NaN,"$1,000.00",$150.00,1,$0.00,1,0,NaN,f,strict_14_with_grace_period

In [65]:
df.sample()

,id,listing_url,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,street,city,...,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,has_availability,number_of_reviews,review_scores_rating,instant_bookable,cancellation_policy
8216,9865161,https://www.airbnb.com/rooms/9865161,Modern Bondi Apartment Ocean Views,41362615,Mal,13/08/15,f,t,"Bondi Beach, NSW, Australia",Bondi Beach,...,NaN,NaN,NaN,1,$0.00,1,0,NaN,f,flexible

In [67]:
df.columns

Index(['id', 'listing_url', 'name', 'host_id', 'host_name', 'host_since',
       'host_is_superhost', 'host_identity_verified', 'street', 'city',
       'state', 'country_code', 'country', 'latitude', 'longitude',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'cleaning_fee', 'guests_included',
       'extra_people', 'has_availability', 'number_of_reviews',
       'review_scores_rating', 'instant_bookable', 'cancellation_policy'],
      dtype='object')

In [69]:
df['amenities']

0        {TV,Kitchen,Elevator,"Buzzer/wireless intercom...
1        {TV,Internet,Wifi,"Air conditioning","Paid par...
2        {TV,Wifi,"Air conditioning",Kitchen,"Pets live...
3        {Internet,Wifi,"Wheelchair accessible",Pool,Ki...
4        {Internet,Wifi,Pool,Kitchen,Gym,Elevator,"Buzz...
                               ...
27071    {Wifi,Kitchen,"Family/kid friendly",Washer,"Sm...
27072    {TV,"Cable TV",Wifi,Pool,Kitchen,"Free street ...
27073    {TV,Wifi,"Indoor fireplace",Heating,Washer,"Sm...
27074    {TV,Internet,Wifi,"Air conditioning",Pool,Kitc...
27075    {TV,Wifi,Kitchen,Heating,"Family/kid friendly"...
Name: amenities, Length: 27076, dtype: object

In [71]:
df['amenities'].iloc[2]

'{TV,Wifi,"Air conditioning",Kitchen,"Pets live on this property",Cat(s),"Free street parking",Heating,Washer,Dryer,"Smoke detector",Essentials,Shampoo,Hangers,"Hair dryer",Iron,"Laptop friendly workspace","Hot water","Luggage dropoff allowed",Other}'

In [73]:
type(df['amenities'].iloc[2])

str

In [75]:
ami = df['amenities'].iloc[2]
ami

'{TV,Wifi,"Air conditioning",Kitchen,"Pets live on this property",Cat(s),"Free street parking",Heating,Washer,Dryer,"Smoke detector",Essentials,Shampoo,Hangers,"Hair dryer",Iron,"Laptop friendly workspace","Hot water","Luggage dropoff allowed",Other}'

In [77]:
ami.split(',')

['{TV',
 'Wifi',
 '"Air conditioning"',
 'Kitchen',
 '"Pets live on this property"',
 'Cat(s)',
 '"Free street parking"',
 'Heating',
 'Washer',
 'Dryer',
 '"Smoke detector"',
 'Essentials',
 'Shampoo',
 'Hangers',
 '"Hair dryer"',
 'Iron',
 '"Laptop friendly workspace"',
 '"Hot water"',
 '"Luggage dropoff allowed"',
 'Other}']

In [81]:
len(ami.split(','))

20

In [85]:
def get_amenities_count(amenities):
    return len(amenities.split(','))

In [87]:
df['amenities'].apply(get_amenities_count)

0        23
1        29
2        20
3        17
4         9
         ..
27071     9
27072    20
27073    25
27074    15
27075    31
Name: amenities, Length: 27076, dtype: int64

In [91]:
# create a new column for amenities count
df.columns

Index(['id', 'listing_url', 'name', 'host_id', 'host_name', 'host_since',
       'host_is_superhost', 'host_identity_verified', 'street', 'city',
       'state', 'country_code', 'country', 'latitude', 'longitude',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'cleaning_fee', 'guests_included',
       'extra_people', 'has_availability', 'number_of_reviews',
       'review_scores_rating', 'instant_bookable', 'cancellation_policy'],
      dtype='object')

In [105]:
df['amenities_count'] = df['amenities'].apply(get_amenities_count)

In [107]:
df.columns

Index(['id', 'listing_url', 'name', 'host_id', 'host_name', 'host_since',
       'host_is_superhost', 'host_identity_verified', 'street', 'city',
       'state', 'country_code', 'country', 'latitude', 'longitude',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'cleaning_fee', 'guests_included',
       'extra_people', 'has_availability', 'number_of_reviews',
       'review_scores_rating', 'instant_bookable', 'cancellation_policy',
       'amenities_count'],
      dtype='object')

In [109]:
df['amenities_count']

0        23
1        29
2        20
3        17
4         9
         ..
27071     9
27072    20
27073    25
27074    15
27075    31
Name: amenities_count, Length: 27076, dtype: int64

In [111]:
df['extra_people']

0          $0.00
1        $395.00
2         $40.00
3         $40.00
4          $0.00
           ...
27071      $0.00
27072     $50.00
27073     $25.00
27074    $100.00
27075      $0.00
Name: extra_people, Length: 27076, dtype: object

In [121]:
col_to_delete = ['country', 'latitude', 'longitude',
       'property_type', 'room_type']
df.drop(col_to_delete, axis=1, inplace=True)

In [123]:
df.columns

Index(['id', 'listing_url', 'name', 'host_id', 'host_name', 'host_since',
       'host_is_superhost', 'host_identity_verified', 'street', 'city',
       'state', 'country_code', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'cleaning_fee', 'guests_included',
       'extra_people', 'has_availability', 'number_of_reviews',
       'review_scores_rating', 'instant_bookable', 'cancellation_policy',
       'amenities_count'],
      dtype='object')

### Look for duplicate rows

In [126]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
27071     True
27072     True
27073     True
27074     True
27075     True
Length: 27076, dtype: bool

In [128]:
df[df.duplicated()]

,id,listing_url,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,street,city,...,security_deposit,cleaning_fee,guests_included,extra_people,has_availability,number_of_reviews,review_scores_rating,instant_bookable,cancellation_policy,amenities_count
27070,22151172,https://www.airbnb.com/rooms/22151172,Sgl rm close to shop/restaurant/transport,159933426,David,24/11/17,f,f,"Kensington, NSW, Australia",Kensington,...,NaN,NaN,1,$0.00,1,1,60.0,t,strict_14_with_grace_period,17
27071,16444390,https://www.airbnb.com/rooms/16444390,1min walk from Coogee beach - awesome double room,67102419,Luschia,13/04/16,f,f,"Coogee, NSW, Australia",Coogee,...,NaN,NaN,1,$0.00,1,15,97.0,f,strict_14_with_grace_period,9
27072,14829119,https://www.airbnb.com/rooms/14829119,Bronte Beach House : Views & Swimming Pool,113874,Bondi Beach Holiday Homes,26/04/10,f,t,"Bronte, NSW, Australia",Bronte,...,"$3,000.00",$425.00,6,$50.00,1,0,NaN,f,strict_14_with_grace_period,20
27073,15918138,https://www.airbnb.com/rooms/15918138,Brickfield Hill - The Ensuite Room,82600141,Ivano,9/07/16,f,t,"Surry Hills, NSW, Australia",Surry Hills,...,NaN,NaN,1,$25.00,1,7,100.0,f,strict_14_with_grace_period,25
27074,8977894,https://www.airbnb.com/rooms/8977894,Mosman Masterpiece by the Beach,46912165,Zoe,19/10/15,f,t,"Mosman, NSW, Australia",Mosman,...,"$2,000.00",$390.00,8,$100.00,1,7,97.0,f,strict_14_with_grace_period,15
27075,17642461,https://www.airbnb.com/rooms/17642461,Perfectly located comfortable 3 bedroom terrace,11101996,Jenny,7/01/14,f,f,"Paddington, NSW, Australia",Paddington,...,$0.00,$120.00,5,$0.00,1,8,90.0,f,moderate,31

In [130]:
df[df.duplicated(keep=False)]  # original + duplicate instances

,id,listing_url,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,street,city,...,security_deposit,cleaning_fee,guests_included,extra_people,has_availability,number_of_reviews,review_scores_rating,instant_bookable,cancellation_policy,amenities_count
6628,8977894,https://www.airbnb.com/rooms/8977894,Mosman Masterpiece by the Beach,46912165,Zoe,19/10/15,f,t,"Mosman, NSW, Australia",Mosman,...,"$2,000.00",$390.00,8,$100.00,1,7,97.0,f,strict_14_with_grace_period,15
12829,14829119,https://www.airbnb.com/rooms/14829119,Bronte Beach House : Views & Swimming Pool,113874,Bondi Beach Holiday Homes,26/04/10,f,t,"Bronte, NSW, Australia",Bronte,...,"$3,000.00",$425.00,6,$50.00,1,0,NaN,f,strict_14_with_grace_period,20
14305,15918138,https://www.airbnb.com/rooms/15918138,Brickfield Hill - The Ensuite Room,82600141,Ivano,9/07/16,f,t,"Surry Hills, NSW, Australia",Surry Hills,...,NaN,NaN,1,$25.00,1,7,100.0,f,strict_14_with_grace_period,25
15788,16444390,https://www.airbnb.com/rooms/16444390,1min walk from Coogee beach - awesome double room,67102419,Luschia,13/04/16,f,f,"Coogee, NSW, Australia",Coogee,...,NaN,NaN,1,$0.00,1,15,97.0,f,strict_14_with_grace_period,9
17239,17642461,https://www.airbnb.com/rooms/17642461,Perfectly located comfortable 3 bedroom terrace,11101996,Jenny,7/01/14,f,f,"Paddington, NSW, Australia",Paddington,...,$0.00,$120.00,5,$0.00,1,8,90.0,f,moderate,31
25249,22151172,https://www.airbnb.com/rooms/22151172,Sgl rm close to shop/restaurant/transport,159933426,David,24/11/17,f,f,"Kensington, NSW, Australia",Kensington,...,NaN,NaN,1,$0.00,1,1,60.0,t,strict_14_with_grace_period,17
27070,22151172,https://www.airbnb.com/rooms/22151172,Sgl rm close to shop/restaurant/transport,159933426,David,24/11/17,f,f,"Kensington, NSW, Australia",Kensington,...,NaN,NaN,1,$0.00,1,1,60.0,t,strict_14_with_grace_period,17
27071,16444390,https://www.airbnb.com/rooms/16444390,1min walk from Coogee beach - awesome double room,67102419,Luschia,13/04/16,f,f,"Coogee, NSW, Australia",Coogee,...,NaN,NaN,1,$0.00,1,15,97.0,f,strict_14_with_grace_period,9
27072,14829119,https://www.airbnb.com/rooms/14829119,Bronte Beach House : Views & Swimming Pool,113874,Bondi Beach Holiday Homes,26/04/10,f,t,"Bronte, NSW, Australia",Bronte,...,"$3,000.00",$425.00,6,$50.00,1,0,NaN,f,strict_14_with_grace_period,20
27073,15918138,https://www.airbnb.com/rooms/15918138,Brickfield Hill - The Ensuite Room,82600141,Ivano,9/07/16,f,t,"Surry Hills, NSW, Australia",Surry Hills,...,NaN,NaN,1,$25.00,1,7,100.0,f,strict_14_with_grace_period,25
27074,8977894,https://www.airbnb.com/rooms/8977894,Mosman Masterpiece by the Beach,46912165,Zoe,19/10/15,f,t,"Mosman, NSW, Australia",Mosman,...,"$2,000.00",$390.00,8,$100.00,1,7,97.0,f,strict_14_with_grace_period,15
27075,17642461,https://www.airbnb.com/rooms/17642461,Perfectly located comfortable 3 bedroom terrace,11101996,Jenny,7/01/14,f,f,"Paddington, NSW, Australia",Paddington,...,$0.00,$120.00,5,$0.00,1,8,90.0,f,moderate,31

In [132]:
df[df.duplicated()].index

Index([27070, 27071, 27072, 27073, 27074, 27075], dtype='int64')

In [134]:
df.drop_duplicates(inplace=True)

In [136]:
df

,id,listing_url,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,street,city,...,security_deposit,cleaning_fee,guests_included,extra_people,has_availability,number_of_reviews,review_scores_rating,instant_bookable,cancellation_policy,amenities_count
0,11156,https://www.airbnb.com/rooms/11156,An Oasis in the City,40855,Colleen,23/09/09,t,f,"Potts Point, NSW, Australia",Potts Point,...,NaN,NaN,1,$0.00,1,177,92.0,f,moderate,23
1,12351,https://www.airbnb.com/rooms/12351,Sydney City & Harbour at the door,17061,Stuart,14/05/09,f,t,"Pyrmont, NSW, Australia",Pyrmont,...,$0.00,$55.00,2,$395.00,1,468,95.0,f,strict_14_with_grace_period,29
2,14250,https://www.airbnb.com/rooms/14250,Manly Harbour House,55948,Heidi,20/11/09,f,t,"Balgowlah, NSW, Australia",Balgowlah,...,$900.00,$100.00,6,$40.00,1,1,100.0,f,strict_14_with_grace_period,20
3,14935,https://www.airbnb.com/rooms/14935,Eco-conscious Travellers: Private Room,58796,Kevin,30/11/09,f,t,"Redfern, NSW, Australia",Redfern,...,NaN,NaN,1,$40.00,1,172,89.0,f,moderate,17
4,14974,https://www.airbnb.com/rooms/14974,Eco-conscious Traveller: Sofa Couch,58796,Kevin,30/11/09,f,t,"Redfern, NSW, Australia",Redfern,...,NaN,NaN,1,$0.00,1,147,90.0,f,moderate,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27065,22708135,https://www.airbnb.com/rooms/22708135,"Brand new hotel in Broadway, Sydney!",116740329,Sophie,16/02/17,f,t,"Glebe, NSW, Australia",Glebe,...,$200.00,$0.00,2,$30.00,1,17,96.0,t,strict_14_with_grace_period,21
27066,22708238,https://www.airbnb.com/rooms/22708238,Beautiful home with 2 furnished room.,167355696,Usman,12/01/18,f,f,"Wiley Park, NSW, Australia",Wiley Park,...,NaN,NaN,1,$0.00,1,0,NaN,f,strict_14_with_grace_period,18
27067,22709306,https://www.airbnb.com/rooms/22709306,2BR Capacious Apt at Darling Harbour Free parking,167285630,Flora,11/01/18,f,f,"Pyrmont, NSW, Australia",Pyrmont,...,$300.00,$80.00,4,$20.00,1,8,90.0,t,moderate,51
27068,22709315,https://www.airbnb.com/rooms/22709315,Prime Location- 3Bedrm HOUSE- Walk 10mins to city,167498543,Tai,13/01/18,f,f,"Redfern, NSW, Australia",Redfern,...,$400.00,$120.00,4,$25.00,1,28,97.0,f,strict_14_with_grace_period,35
27069,22709659,https://www.airbnb.com/rooms/22709659,Paddington Loft Apartment,24785211,Honza,13/12/14,f,f,"Paddington, NSW, Australia",Paddington,...,NaN,$50.00,1,$0.00,1,32,90.0,t,flexible,24

In [138]:
# Summary

In [141]:
df.describe()

,id,host_id,accommodates,bathrooms,bedrooms,beds,square_feet,guests_included,has_availability,number_of_reviews,review_scores_rating,amenities_count
count,2.707000e+04,2.707000e+04,27070.000000,27048.000000,27062.000000,27037.000000,256.000000,27070.000000,27070.0,27070.000000,19512.000000,27070.000000
mean,1.402672e+07,4.692847e+07,3.383598,1.352337,1.614071,2.012169,421.453125,1.515146,1.0,14.005689,93.412413,20.343517
std,6.520952e+06,4.525669e+07,2.196864,0.664092,1.109725,1.526399,1573.511992,1.256044,0.0,29.808917,9.354959,10.908119
min,1.115600e+04,8.346000e+03,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.0,0.000000,20.000000,1.000000
25%,9.083668e+06,1.108913e+07,2.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.0,0.000000,90.000000,13.000000
50%,1.544074e+07,3.016545e+07,2.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.0,3.000000,96.000000,17.000000
75%,2.015561e+07,6.754591e+07,4.000000,1.500000,2.000000,2.000000,282.500000,1.000000,1.0,13.000000,100.000000,25.000000
max,2.270966e+07,1.674985e+08,16.000000,10.000000,46.000000,29.000000,21528.000000,16.000000,1.0,468.000000,100.000000,101.000000

In [145]:
# Find the listings without a bathroom
df[df['bathrooms'] == 0]

,id,listing_url,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,street,city,...,security_deposit,cleaning_fee,guests_included,extra_people,has_availability,number_of_reviews,review_scores_rating,instant_bookable,cancellation_policy,amenities_count
1232,2064031,https://www.airbnb.com/rooms/2064031,Bondi Large Room w/- Private access to balcony,10561496,Ferdinand,11/12/13,f,f,"Sydney, NSW, Australia",Sydney,...,NaN,NaN,1,$0.00,1,0,NaN,f,moderate,16
1373,2257635,https://www.airbnb.com/rooms/2257635,Twin Shared Room in Uni Campus,11279706,Francesca,13/01/14,f,t,"Camperdown, NSW, Australia",Camperdown,...,$150.00,NaN,1,$0.00,1,7,89.0,f,flexible,6
1934,3334584,https://www.airbnb.com/rooms/3334584,Bondi Pad,3611086,Tom,19/09/12,f,f,"Bondi Beach, NSW, Australia",Bondi Beach,...,NaN,NaN,1,$0.00,1,0,NaN,f,flexible,11
2307,4033572,https://www.airbnb.com/rooms/4033572,Room with a view,17802336,Susan,8/07/14,f,t,"Neutral Bay, NSW, Australia",Neutral Bay,...,NaN,NaN,1,$0.00,1,4,100.0,f,flexible,13
2420,4184110,https://www.airbnb.com/rooms/4184110,"Bright Queen Bed Room, shared bathroom",954713,Gill,11/08/11,t,f,"Lindfield, NSW, Australia",Lindfield,...,$0.00,$10.00,2,$20.00,1,42,96.0,f,flexible,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24923,22069561,https://www.airbnb.com/rooms/22069561,"Comfy room close to Sydney CBD, Airport & Beach",24887238,Josh And Greg,16/12/14,f,t,"Arncliffe, NSW, Australia",Arncliffe,...,NaN,NaN,1,$0.00,1,5,100.0,f,moderate,33
25600,22218527,https://www.airbnb.com/rooms/22218527,Ideal to Coogee and Bondi in Sydney Bedroom-1,126411526,Sakura,18/04/17,f,t,"Randwick, NSW, Australia",Randwick,...,"$1,500.00",$20.00,1,$35.00,1,4,93.0,f,strict_14_with_grace_period,33
25769,22265628,https://www.airbnb.com/rooms/22265628,Beautiful light flat close to Harbourbridge,117957293,Hannah,24/02/17,f,t,"Crows Nest, NSW, Australia",Crows Nest,...,NaN,NaN,1,$0.00,1,0,NaN,f,flexible,23
25993,22309457,https://www.airbnb.com/rooms/22309457,NaN,48126047,Jonathan,4/11/15,f,f,"Chiswick, NSW, Australia",Chiswick,...,NaN,NaN,1,$0.00,1,0,NaN,t,flexible,13
26636,22485646,https://www.airbnb.com/rooms/22485646,ÊûÅËøëUNSWÊñ∞ÁîüËøáÊ∏°ÂØªÊàøÊóÖÊ∏∏Â∫¶ÂÅáÁ≠æÂÅá...,126411526,Sakura,18/04/17,f,t,"Randwick, NSW, Australia",Randwick,...,$800.00,$15.00,1,$35.00,1,1,100.0,f,strict_14_with_grace_period,19

In [151]:
df[df['beds'] == 0]

,id,listing_url,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,street,city,...,security_deposit,cleaning_fee,guests_included,extra_people,has_availability,number_of_reviews,review_scores_rating,instant_bookable,cancellation_policy,amenities_count
91,264925,https://www.airbnb.com/rooms/264925,Stunning North Bondi Beach Pad,1389838,Sophie & Todd,9/11/11,f,t,"Bondi Beach, NSW, Australia",Bondi Beach,...,"$1,500.00",$165.00,7,$50.00,1,9,94.0,t,strict_14_with_grace_period,43
149,389876,https://www.airbnb.com/rooms/389876,Huge Sydney Apartment + Parking,1943399,Paul And Raymond,17/03/12,t,t,"Redfern, NSW, Australia",Redfern,...,$300.00,$87.00,2,$50.00,1,404,98.0,t,moderate,47
169,420647,https://www.airbnb.com/rooms/420647,Newtown Darlington Suites-1st. Flr.,2091917,Lloyd,8/04/12,t,t,"Darlington, NSW, Australia",Darlington,...,NaN,NaN,2,$48.00,1,125,99.0,t,strict_14_with_grace_period,25
170,421997,https://www.airbnb.com/rooms/421997,The Circle Studio Bilgola Avalon,2098455,Leigh & Phillip,9/04/12,f,t,"Bilgola, NSW, Australia",Bilgola,...,NaN,$50.00,1,$0.00,1,87,98.0,f,strict_14_with_grace_period,20
171,424931,https://www.airbnb.com/rooms/424931,Designer double room terrace house,2112830,Craig,10/04/12,f,f,"Redfern, NSW, Australia",Redfern,...,NaN,$35.00,1,$0.00,1,63,97.0,f,strict_14_with_grace_period,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25438,22194078,https://www.airbnb.com/rooms/22194078,AMAZING ANNANDALE H346,101139031,Gabriel HH,24/10/16,f,f,"Annandale, NSW, Australia",Annandale,...,$500.00,$120.00,4,$35.00,1,11,95.0,t,strict_14_with_grace_period,39
25534,22210446,https://www.airbnb.com/rooms/22210446,The White House,162298993,Michael,11/12/17,f,f,"Manly, NSW, Australia",Manly,...,$250.00,$126.00,1,$0.00,1,10,98.0,f,moderate,28
26377,22394860,https://www.airbnb.com/rooms/22394860,Massive city centre 2 bed with view to the har...,108083073,David,22/12/16,f,f,"Sydney, NSW, Australia",Sydney,...,$0.00,$170.00,1,$0.00,1,25,94.0,f,strict_14_with_grace_period,24
26649,22487326,https://www.airbnb.com/rooms/22487326,Newtown's Best Designer Apartment H395,99128772,Gabriel HomeHost,10/10/16,f,f,"Newtown, NSW, Australia",Newtown,...,$250.00,$85.00,2,$0.00,1,13,91.0,t,strict_14_with_grace_period,28
26655,22488321,https://www.airbnb.com/rooms/22488321,Boutique warehouse conversion Sydney's Surry H...,1662175,Adam,27/01/12,t,t,"Redfern, NSW, Australia",Redfern,...,$500.00,$150.00,3,$150.00,1,6,100.0,f,strict_14_with_grace_period,46

In [155]:
# Is there a listing without a bedroom, bathroom and bed
df.query('beds == 0 and bathrooms == 0 and bedrooms == 0')

Empty DataFrame
Columns: [id, listing_url, name, host_id, host_name, host_since, host_is_superhost, host_identity_verified, street, city, state, country_code, accommodates, bathrooms, bedrooms, beds, bed_type, amenities, square_feet, price, weekly_price, monthly_price, security_deposit, cleaning_fee, guests_included, extra_people, has_availability, number_of_reviews, review_scores_rating, instant_bookable, cancellation_policy, amenities_count]
Index: []

[0 rows x 32 columns]

In [159]:
df[(df['beds']==0) & (df['bathrooms']==0) & (df['bedrooms']==0)]

Empty DataFrame
Columns: [id, listing_url, name, host_id, host_name, host_since, host_is_superhost, host_identity_verified, street, city, state, country_code, accommodates, bathrooms, bedrooms, beds, bed_type, amenities, square_feet, price, weekly_price, monthly_price, security_deposit, cleaning_fee, guests_included, extra_people, has_availability, number_of_reviews, review_scores_rating, instant_bookable, cancellation_policy, amenities_count]
Index: []

[0 rows x 32 columns]

In [161]:
df[(df['beds']==0) | (df['bathrooms']==0) | (df['bedrooms']==0)]

,id,listing_url,name,host_id,host_name,host_since,host_is_superhost,host_identity_verified,street,city,...,security_deposit,cleaning_fee,guests_included,extra_people,has_availability,number_of_reviews,review_scores_rating,instant_bookable,cancellation_policy,amenities_count
16,63795,https://www.airbnb.com/rooms/63795,Tree Tops Retreat Avalon Beach,311659,Tracey,6/12/10,f,t,"Avalon, NSW, Australia",Avalon,...,$600.00,$45.00,1,$0.00,1,46,96.0,f,moderate,42
91,264925,https://www.airbnb.com/rooms/264925,Stunning North Bondi Beach Pad,1389838,Sophie & Todd,9/11/11,f,t,"Bondi Beach, NSW, Australia",Bondi Beach,...,"$1,500.00",$165.00,7,$50.00,1,9,94.0,t,strict_14_with_grace_period,43
128,348891,https://www.airbnb.com/rooms/348891,Ruby's Oasis on Bondi Beach!,201611,Deborah,14/08/10,t,t,"Bondi Beach, NSW, Australia",Bondi Beach,...,$750.00,$120.00,1,$0.00,1,20,93.0,f,moderate,34
147,387130,https://www.airbnb.com/rooms/387130,Coogee Studio Apartment,1937140,Mary,17/03/12,t,f,"Coogee, NSW, Australia",Coogee,...,$0.00,$20.00,1,$0.00,1,176,95.0,t,flexible,20
149,389876,https://www.airbnb.com/rooms/389876,Huge Sydney Apartment + Parking,1943399,Paul And Raymond,17/03/12,t,t,"Redfern, NSW, Australia",Redfern,...,$300.00,$87.00,2,$50.00,1,404,98.0,t,moderate,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27012,22679407,https://www.airbnb.com/rooms/22679407,Studio close to CBD,120332557,Lizeth,12/03/17,f,f,"Paddington, NSW, Australia",Paddington,...,$0.00,$30.00,1,$0.00,1,2,100.0,f,moderate,21
27020,22689848,https://www.airbnb.com/rooms/22689848,"Bright Art-Deco Darlinghurst Studio, Roof & Vi...",21857423,Krystal,28/09/14,f,f,"Darlinghurst, NSW, Australia",Darlinghurst,...,$450.00,$145.00,1,$0.00,1,7,90.0,f,strict_14_with_grace_period,28
27027,22691962,https://www.airbnb.com/rooms/22691962,Studio Room for Rent in Central Location,167289573,Merih,11/01/18,f,f,"Darlinghurst, NSW, Australia",Darlinghurst,...,NaN,NaN,1,$0.00,1,1,NaN,t,flexible,14
27058,22706892,https://www.airbnb.com/rooms/22706892,CAMPING IN OUR BACKYARD,320878,Russell,17/12/10,t,t,"Lane Cove West, NSW, Australia",Lane Cove West,...,$0.00,$0.00,2,$15.00,1,24,99.0,t,moderate,22
27065,22708135,https://www.airbnb.com/rooms/22708135,"Brand new hotel in Broadway, Sydney!",116740329,Sophie,16/02/17,f,t,"Glebe, NSW, Australia",Glebe,...,$200.00,$0.00,2,$30.00,1,17,96.0,t,strict_14_with_grace_period,21

In [163]:
df['has_availability']

0        1
1        1
2        1
3        1
4        1
        ..
27065    1
27066    1
27067    1
27068    1
27069    1
Name: has_availability, Length: 27070, dtype: int64

In [165]:
df['has_availability'].unique()

array([1], dtype=int64)

In [167]:
df['has_availability'].std()

0.0

In [169]:
df['has_availability'].var()

0.0

In [171]:
df.columns

Index(['id', 'listing_url', 'name', 'host_id', 'host_name', 'host_since',
       'host_is_superhost', 'host_identity_verified', 'street', 'city',
       'state', 'country_code', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'cleaning_fee', 'guests_included',
       'extra_people', 'has_availability', 'number_of_reviews',
       'review_scores_rating', 'instant_bookable', 'cancellation_policy',
       'amenities_count'],
      dtype='object')

In [173]:
df.drop('has_availability', axis=1, inplace=True)

In [177]:
df.columns

Index(['id', 'listing_url', 'name', 'host_id', 'host_name', 'host_since',
       'host_is_superhost', 'host_identity_verified', 'street', 'city',
       'state', 'country_code', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'cleaning_fee', 'guests_included',
       'extra_people', 'number_of_reviews', 'review_scores_rating',
       'instant_bookable', 'cancellation_policy', 'amenities_count'],
      dtype='object')

In [179]:
df.describe()

,id,host_id,accommodates,bathrooms,bedrooms,beds,square_feet,guests_included,number_of_reviews,review_scores_rating,amenities_count
count,2.707000e+04,2.707000e+04,27070.000000,27048.000000,27062.000000,27037.000000,256.000000,27070.000000,27070.000000,19512.000000,27070.000000
mean,1.402672e+07,4.692847e+07,3.383598,1.352337,1.614071,2.012169,421.453125,1.515146,14.005689,93.412413,20.343517
std,6.520952e+06,4.525669e+07,2.196864,0.664092,1.109725,1.526399,1573.511992,1.256044,29.808917,9.354959,10.908119
min,1.115600e+04,8.346000e+03,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,20.000000,1.000000
25%,9.083668e+06,1.108913e+07,2.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,90.000000,13.000000
50%,1.544074e+07,3.016545e+07,2.000000,1.000000,1.000000,1.000000,0.000000,1.000000,3.000000,96.000000,17.000000
75%,2.015561e+07,6.754591e+07,4.000000,1.500000,2.000000,2.000000,282.500000,1.000000,13.000000,100.000000,25.000000
max,2.270966e+07,1.674985e+08,16.000000,10.000000,46.000000,29.000000,21528.000000,16.000000,468.000000,100.000000,101.000000

In [181]:
df.describe(include=object)

,listing_url,name,host_name,host_since,host_is_superhost,host_identity_verified,street,city,state,country_code,bed_type,amenities,price,weekly_price,monthly_price,security_deposit,cleaning_fee,extra_people,instant_bookable,cancellation_policy
count,27070,27056,27035,27035,27035,27035,27070,27037,27061,27070,27070,27070,27070,3920,2375,16722,19250,27070,27070,27070
unique,27070,26556,6398,2590,2,2,773,741,16,1,5,26048,735,652,650,272,328,99,2,5
top,https://www.airbnb.com/rooms/11156,Bondi Beach House,David,10/07/13,f,f,"Bondi Beach, NSW, Australia",Bondi Beach,NSW,AU,Real Bed,{},$150.00,$700.00,"$2,000.00",$0.00,$50.00,$0.00,f,strict_14_with_grace_period
freq,1,13,287,157,23616,14323,1675,1676,25913,27070,26858,116,1092,153,100,3191,2035,17933,18426,11692

In [183]:
df['host_is_superhost'].value_counts()

host_is_superhost
f    23616
t     3419
Name: count, dtype: int64

In [185]:
df['host_identity_verified'].value_counts()

host_identity_verified
f    14323
t    12712
Name: count, dtype: int64

In [189]:
df['monthly_price'].value_counts()

monthly_price
$2,000.00     100
$3,000.00      77
$3,500.00      68
$1,600.00      61
$2,500.00      60
             ...
$3,479.00       1
$1,827.00       1
$8,900.00       1
$1,602.00       1
$1,443.00       1
Name: count, Length: 650, dtype: int64

In [191]:
df.columns

Index(['id', 'listing_url', 'name', 'host_id', 'host_name', 'host_since',
       'host_is_superhost', 'host_identity_verified', 'street', 'city',
       'state', 'country_code', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'cleaning_fee', 'guests_included',
       'extra_people', 'number_of_reviews', 'review_scores_rating',
       'instant_bookable', 'cancellation_policy', 'amenities_count'],
      dtype='object')

In [193]:
df.drop('monthly_price', axis=1, inplace=True)

In [195]:
df.columns

Index(['id', 'listing_url', 'name', 'host_id', 'host_name', 'host_since',
       'host_is_superhost', 'host_identity_verified', 'street', 'city',
       'state', 'country_code', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price',
       'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people',
       'number_of_reviews', 'review_scores_rating', 'instant_bookable',
       'cancellation_policy', 'amenities_count'],
      dtype='object')