In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv('transaction_dataset.csv')

In [ ]:
data.head()

In [ ]:
data.info()

In [ ]:
data['Location'].value_counts()

In [ ]:
# data dictionary
# id - transaction id
# date - transaction date
# customer_id - unique customer
# transaction_amount - the amount spent by the customer in a particular transaction
# transaction_type - purchasing a product or transferring money
# Payment_method - medium of making the transaction
# account_balance - amount remaining in the customers wallet after making the transaction
# category - category type of the product purchased
# Location - where was the transaction made?
# transaction_status - success/failure/pending

In [ ]:
# Insights that can be generated: EDA - exploratory data analysis

# 1. Transaction trends over time Month on month analysis, week on week analysis, year on year analysis, daily trasaction count, average monthly transaction count.
# 2. location wise analysis - Hotspots - (customer count > median customer count and transaction value > average transaction value)
# 3. payment method analysis - in which payment type is there maximum failures,
# 4. category analysis - average order value, median order value - pricing analysis
# 5. purchasing power - average account balance + average order value
# 6. Customer segmentation analysis - gold membership, silver membership, bronze membership. recency, frequency, monetary (RFM) - customer score - average/median
# 7.

In [ ]:
# data['Date'] = pd.to_datetime(data['Date'], error = 'coerce') - this code will convert all the valid dates and set invalid dates to nall

In [ ]:
data['Date_Modified_only_date'] = data['Date'].astype('datetime64[ms]')

In [ ]:
data.info()

In [ ]:
# daily basis analysis - in which hour is there a peak in transactions

In [ ]:
data['Transaction_month']=data['Date_Modified_only_date'].dt.month

In [ ]:
data['Transaction_year']=data['Date_Modified_only_date'].dt.year

In [ ]:
data['Transaction_week'] = data['Date_Modified_only_date'].dt.isocalendar().week

In [ ]:
data['Month_year']=data['Date_Modified_only_date'].dt.strftime('%b-%Y') # example - jan-2023

In [ ]:
data['Day_name']=data['Date_Modified_only_date'].dt.day_name()

In [ ]:
data['Quarter'] = data['Date_Modified_only_date'].dt.quarter

In [ ]:
data['Transaction_week'] = data['Date_Modified_only_date'].dt.quarter

In [ ]:
data['is_weekend'] = data['Date_Modified_only_date'].dt.weekday>= 5 # Return the day of the week as an integer 0-mon , 5-sat, 6-sun

In [ ]:
data['Transaction_hour'] = data['Date_Modified_only_date'].dt.hour

In [ ]:
data['Transaction_min'] = data['Date_Modified_only_date'].dt.minute

In [ ]:
data1 = data.copy()

In [ ]:
data.head()

In [ ]:
data = data[data['Transaction_year'] <=2025]

In [ ]:
data['Transaction_year'].value_counts()

In [ ]:
# how many customer transacted each year. plot the customer count in a bar graph

In [ ]:
customer_counts_per_year = data.groupby(['Transaction_year'])['Customer_ID'].size().reset_index()

In [ ]:
customer_counts_per_year

In [ ]:
plt.bar(customer_counts_per_year['Transaction_year'], customer_counts_per_year['Customer_ID'], color='skyblue')
plt.xlabel('Year')
plt.ylabel('Number of Unique Customers')
plt.title('Number of Customers Transacted Each Year')
plt.show()

In [ ]:
# for each year, plot the monthly trend of average order value

In [ ]:
monthly_average_transaction_value = data.groupby(['Month_year'])['Transaction_Amount'].mean().reset_index()

In [ ]:
monthly_average_transaction_value = monthly_average_transaction_value.rename(columns={'Transaction_Amount':'Monthly_Average'})

In [ ]:
monthly_average_transaction_value['Year'] = monthly_average_transaction_value['Month_year'].str.split('-').str[1]

In [ ]:
monthly_average_transaction_value

In [ ]:
Year = list(set(monthly_average_transaction_value['Year'].tolist()))

In [ ]:
Year

In [ ]:
for y in Year:
    df=monthly_average_transaction_value[monthly_average_transaction_value['Year']==y]
    plt.figure(figsize=(12, 10))
    plt.bar(df['Month_year'], df['Monthly_Average'])
    plt.title(f'Monthly Average Transection Trand For The Year {y}')
    plt.show()

# sort bars in ascinding order (jan, feb, mar)

In [ ]:
plt.figure(figsize=(50, 20))
plt.bar(monthly_average_transaction_value['Month_year'], monthly_average_transaction_value['Monthly_Average'], color='skyblue')
plt.show()

In [ ]:
# for each year, display the week on week transaction value trend for each quarter 3 year 4 quarters
# how many weeks are there in a quarter - 12
# Get dataframe which has year, quarter, week, total transaction value

In [ ]:
data.info()

In [ ]:
df1 = data.groupby(['Transaction_year','Quarter','Transaction_week'])['Transaction_Amount'].sum().reset_index()

In [ ]:
df1 = df1.rename(columns = {'Transaction_Amount':'Total_Transaction_Value'})

In [ ]:
df1

In [ ]:
transacting_years = sorted(list(set(df1['Transaction_year'].tolist())))

In [ ]:
quarters = sorted(list(set(df1['Quarter'].tolist())))

In [ ]:
for year in transacting_years:
    for quarter in quarters:
        needed_df = df1[(df1['Transaction_year'] == year) & (df1['Quarter'] == quarter)]
        plt.figure(figsize=(15, 15))
        plt.bar(needed_df['Transaction_week'], needed_df['Total_Transaction_Value'])
        plt.xticks(needed_df['Transaction_week'])
        plt.title(f'Total value trend for the quarter {quarter} and year {year}')
        plt.show()

In [ ]:
# for each year and each month, find out the total transaction value trend day on day (monday,tuesday,...sunday) - 36 bar charts

In [ ]:
data1.info()

In [ ]:
data1['month_name'] = data1['Date_Modified_only_date'].dt.strftime('%B') # month name
data1['day_number'] = data1['Date_Modified_only_date'].dt.strftime('%w') # day number in a week

In [ ]:
day_wise_df = data1.groupby(['Transaction_year','Transaction_month','month_name','Day_name','day_number'])['Transaction_Amount'].sum().reset_index()

In [ ]:
day_wise_df = day_wise_df.sort_values(by=['Transaction_year','Transaction_month','day_number'], ascending = True)

In [ ]:
transacting_years = sorted(list(set(data1['Transaction_year'].tolist())))

In [ ]:
month_numbers = sorted(list(set(data1['Transaction_month'].tolist())))

In [ ]:
for year in transacting_years:
    for month in month_numbers:
        needed = day_wise_df[(day_wise_df['Transaction_year']==year) & (day_wise_df['Transaction_month'])==month]
        plt.bar(needed['Day_name'], needed['Transaction_Amount'])
        plt.title(f'Total value trend for each day in the month of {month} and year {year}')
        plt.show()