In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
data = pd.read_csv('vehicle_insurance.csv')

In [10]:
data.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 0 to 381108
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    381109 non-null  int64
 1   Gender                381109 non-null  object
 2   Age                   381109 non-null  int64
 3   Driving_License       381109 non-null  int64
 4   Region_Code           381109 non-null  float64
 5   Previously_Insured    381109 non-null  int64
 6   Vehicle_Age           381109 non-null  object
 7   Vehicle_Damage        381109 non-null  object
 8   Annual_Premium        381109 non-null  float64
 9   Policy_Sales_Channel  381109 non-null  float64
 10  Vintage               381109 non-null  int64
 11  Response              381109 non-null  int64
dtypes: float64(3), int64(6), object(3)
memory usage: 34.9+ MB

In [ ]:
# data dictionary: (what is not obvious)

# 1.Driving_License - binary (0 or 1)
# 2.Region_Code - where is the customer is located
# 3. Policy_Sales_Channel -  the sales channel through which the policy was marketed / sold
# 4. vintage - number of days since the customer took the policy
# 5. response - whether the customer purchased the insurance or not

# sai age group vs insurance, gender opting for insurance policy, region code
# swaroop License plays a robe in insurance
# annual premium doesit play a role in opting for insurance groups of premiums
# conversion rate (no of people opting for an insurance) / total no of people population
# driving License rate % percentage of people haivng dl and opting for insurance
# average vintage for insurance holders
# region based metrics, premium based metrics, customer Level metrics, vintage / behavior metrics
# Lift conversion rate of a group / overall conversion rate imp business model evaluation metric
# ex: Lets say overall conversion rate is 15% and among customers whose vehicle is damaged the conversion is 30%
# then the lift = 30%/15% 2. 2 means customers with vehicle damage are 2 times more likely to buy an insurance
# compared an average customer
# rank customers based on vintage, premium, age analye how they behave (that is if they buy the insurance or not)

In [ ]:
# Lift
# overall conversion rate (no of peaple opting for an insurance) / total no of people

In [12]:
data['Response'].value_counts(normalize=True)*100

Response
0    87.743664
1    12.256336
Name: proportion, dtype: float64

In [ ]:
# imbalanced dataset
# target variable -response has imbalance in class
# minority_class_count * 2 < majority_class_count - imbalanced

In [ ]:
# overall conversion rate 12.25%

In [14]:
df = data[data['Vehicle_Damage'] == 'Yes']

In [16]:
data['Response'].value_counts(normalize=True)*100

Response
0    87.743664
1    12.256336
Name: proportion, dtype: float64

In [ ]:
# conversion rate for all the customer whose vehicle is damaged = 23.76%

In [18]:
lift = 23.76 / 12.25

In [20]:
lift

1.939591836734694

In [ ]:
# can you find age distribution and represent it garphcally

In [ ]:
# all the remaining analysis is homework. after each analysis, write down the insight and check
# if your analysis was helpful in improving the the business communication strategy