In [1]:
# HTML hyper text markup Language standard Language for creating webpages
# Tags - they define the structure of the webpage

# <html> </html> root element
# <head> </head> metadata
# <title> page title
# <body> visible content
# <h1>, <h2>....<h6> heading
# <p> paragraph <p> this is my paragraph.nabanajan </p>
# <a> link <a href="url"> some text </a>
# <img> embed an image
# <ul>, <ol>, <li> lists
# <table> to embed a table
# <form> to insert a user input form
# <div> container block it is used to group elements together into sections,
# <span> inline HTML element it is used to style small prats of text <p> This iphone costs <span class= 'price'> $999 </span></p>

In [2]:
# CSS - cascading style sheets controls the appearance and Layout of the HTML elements
# color, background, font-size, margin, padding, border, position, text-align

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
def get_page_soup_object(url):
    response = requests.get(url) # HTTP request to the page
    if response.status_code != 200:
        print('failed to fetch the page')
        return None
    return BeautifulSoup(response.content, 'html.parser')

In [5]:
def parse_book_data(soup):
    books = soup.find_all('article', class_ = 'product_pod')
    book_list = []
    for book in books:
        title = book.h3.a['title']
        price = book.find('p', class_ = 'price_color').text.strip()
        availability = book.find('p', class_ ='instock availability').text.strip()
        class_rating = book.find('p', class_ = 'star-rating')
        book_list.append({
            'Title': title,
            'Price': price,
            'Availability': availability,
            'Rating': class_rating
        })
    return book_list

In [6]:
all_books=[]

base_url = 'http://books.toscrape.com/catalogue/page-{}.html'
for page in range(1,51):
    url = base_url.format(page)
    # print("Scraping Page")
    soup = get_page_soup_object(url)
    if soup:
        books= parse_book_data(soup)
        all_books.extend(books)

data= pd.DataFrame(all_books)

In [7]:
data

,Title,Price,Availability,Rating
0,A Light in the Attic,£51.77,In stock,"[\n, [], \n, [], \n, [], \n, [], \n, [], \n]"
1,Tipping the Velvet,£53.74,In stock,"[\n, [], \n, [], \n, [], \n, [], \n, [], \n]"
2,Soumission,£50.10,In stock,"[\n, [], \n, [], \n, [], \n, [], \n, [], \n]"
3,Sharp Objects,£47.82,In stock,"[\n, [], \n, [], \n, [], \n, [], \n, [], \n]"
4,Sapiens: A Brief History of Humankind,£54.23,In stock,"[\n, [], \n, [], \n, [], \n, [], \n, [], \n]"
...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,£55.53,In stock,"[\n, [], \n, [], \n, [], \n, [], \n, [], \n]"
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",£57.06,In stock,"[\n, [], \n, [], \n, [], \n, [], \n, [], \n]"
997,A Spy's Devotion (The Regency Spies of London #1),£16.97,In stock,"[\n, [], \n, [], \n, [], \n, [], \n, [], \n]"
998,1st to Die (Women's Murder Club #1),£53.98,In stock,"[\n, [], \n, [], \n, [], \n, [], \n, [], \n]"
999,"1,000 Places to See Before You Die",£26.08,In stock,"[\n, [], \n, [], \n, [], \n, [], \n, [], \n]"

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         1000 non-null   object
 1   Price         1000 non-null   object
 2   Availability  1000 non-null   object
 3   Rating        1000 non-null   object
dtypes: object(4)
memory usage: 31.4+ KB

In [ ]:
# FPDF library html to pdf (find out how to do)

In [ ]:
# IMDB Homework - scrap the essential elements